@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display:swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
  --white: #ffffff;
  --black: #000;
  --charcoal-gray: #111111;
  --gray: #292929;
  --highlight-gray: #313131;
  --dark-gray: #1A1A1A;
  --light-gray: #B3B3B3;
  --dark-green: #298716;
  --light-green: #4af626;
  --neon-green: #00FF66;
  --lime-yellow: #D4FF33;
  --font: Menlo,Roboto Mono,monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono';
}

body {
  background-color: var(--charcoal-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 115vh;
}

.CV_wrapper {
  position: solid;
  margin: 45px;
  border: 2px solid var(--neon-green);
}

.CV {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 800px;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.CV .left_wrapper {
  background-color: transparent;
  border-right: 2px solid var(--neon-green);
  padding-right: 20px;
  margin:10px;
}

.CV .left_wrapper .left_side {
  position: relative;
  background-color: var(--gray);
  min-height: 105vh;
  padding: 10px;
  padding-top: 20px;
}

.CV .right_wrapper {
  position: relative;
  background-color: transparent;
}

.CV .right_side {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 105vh;
  background-color: var(--gray);
  margin: 10px;
}

.CV .profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.CV .profile {
  align-items: center;
  justify-content: center;
}

.CV .profile_icon {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.CV .profile_icon i {
  margin-top: 10px;
  margin-left: 10px;
}

.CV .profile h2 span {
  color: var(--lime-yellow);
}

.CV h2 {
  color: var(--light-green);
  font-family: 'IBM Plex Mono', monospace;
}

.CV p {
  color: var(--light-green);
}

.CV pre {
  color: var(--light-green);
}

/* Button design setup */
.CV .left_side .profile .ui-btn {
  box-sizing: border-box;
  padding: 15px 20px;
  width: 100%;
  height: 55px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-green);
  font: 600 20px var(--font);
  background: var(--gray);
  border: none;
  cursor: pointer;
  transition: .3s;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
}

.CV .left_side .profile .ui-btn span {
  letter-spacing: .2rem;
  transition: .3s;
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.CV .left_side .profile .ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.CV .left_side .profile .ui-btn span::before {
  animation: none;
}

.CV .left_side .profile .ui-btn:hover span, .ui-btn:focus span {
  color: inherit;
}

.CV .left_side .profile .ui-btn:hover span::before, .ui-btn:focus span::before {
  animation: chitchat linear both 0.6s;
}

.ui-btn span::before {
  transition: none;
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$]_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{[+.";
  }

  35% {
    content: "@}-]?";
  }

  40% {
    content: "?{4%";
  }

  45% {
    content: "=1^!";
  }

  50% {
    content: "?2%";
  }

  55% {
    content: "\;1}";
  }

  60% {
    content: "?{_%";
    right: 0;
  }

  65% {
    content: "{f[4";
    right: 0;
  }

  70% {
    content: "{40%";
    right: 0;
  }

  75% {
    content: "'_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}

.CV .left_side .profile .Contacts a{
  color: var(--white);
  text-decoration: none;
}

.CV .right_side .usr_input{
  width: 100%;
  background-color: var(--dark-gray);
}

.CV .right_side .usr_input .input {
  color: var(--light-green);
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
}

.CV .right_side .usr_input .symbol {
  position: absolute;
  left: 5px;
  top: 1%;
  color: var(--light-green);
  pointer-events: none;
}

.CV .right_side .usr_input .input:focus {
  outline: none;
}

.CV .right_side .usr_input .input:focus + .input-border {
  width: 100%;
}

.CV .right_side .cmd_out {
  margin: 15px;
  animation: 2s anim-lineUp ease-out;
}

.CV .right_side .cmd_out .exp_div {
  padding-top: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--light-green);
  font-size: 18px;
}

.CV .right_side .cmd_out .exp_div .prog_bar {
  background-color: var(--white);
  width: 85%;
  height: 10px;
  border-radius: 15px;
}

.CV .right_side .cmd_out .exp_div .prog_bar .cpp {
  background-color: var(--neon-green);
  width: 55%;
  height: 10px;
  border-radius: 15px;
  animation: 1s cpp ease-out;
  animation-delay: 0.4s;
}

@keyframes cpp {
  0% {
    width: 0%;
  }
  100%{
    width: 55%;
  }
}


/* lineup class and keyframes */
.anim-lineUp{
  animation: 2s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Mobile devices responsivness */
@media only screen and (max-width: 800px) {
    .CV_wrapper {
      margin: 0;
      border: 0;
    }

    .CV {
      display: block;
      margin: 0;
    }

    .CV .left_wrapper {
      border: 0;
      margin: 0;
      padding: 0;
      display: none;
    }

    .CV .profile {
      padding: 0;
      margin: 0;
    }

    .CV .right_side {
      min-height: 100vh;
    }

    .CV .left_side .profile .Contacts {
      display: none;
    }

    .CV .left_side .profile .Socials {
      display: none;
    }
}
