@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display:swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
  --white: #ffffff;
  --black: #000;
  --charcoal-gray: #111111;
  --gray: #292929;
  --highlight-gray: #313131;
  --dark-gray: #1A1A1A;
  --light-gray: #B3B3B3;
  --dark-green: #298716;
  --light-green: #4af626;
  --neon-green: #00FF66;
  --lime-yellow: #D4FF33;
  --font: Menlo,Roboto Mono,monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono';
}

body {
  background-color: var(--charcoal-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.CV_wrapper {
  position: solid;
  border: 2px solid var(--neon-green);
  height: 100vh;
}

.CV {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  min-height: 800px;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.CV .left_wrapper {
  background-color: transparent;
  border-right: 2px solid var(--neon-green);
  padding-right: 20px;
  margin:10px;
}

.CV .left_wrapper .left_side {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--gray);
  padding: 10px;
  width: 100%;
  height: 100%;
}

.CV .right_wrapper {
  background-color: transparent;
  margin:10px;
}

.CV .right_side {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
}

.CV h2 {
  color: var(--light-green);
  font-family: var(--font);
}

.CV p {
  color: var(--light-green);
}

.CV pre {
  color: var(--light-green);
}

/* 
** Left side of the CV
*/

.left_side .profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left_side .profile {
  align-items: center;
  justify-content: center;
}

.left_side .profile_icon {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.left_side .profile_icon i {
  margin-top: 10px;
  margin-left: 10px;
}

.left_side .profile .profile_text {
  margin-bottom: 50px;
}

.left_side .profile .profile_text h2 span {
  color: var(--lime-yellow);
}

/* Button design setup */
.left_side .ui-btn {
  box-sizing: border-box;
  padding: 15px 20px;
  width: 100%;
  height: 55px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-green);
  font: 600 20px var(--font);
  background: var(--gray);
  border: none;
  cursor: pointer;
  transition: .3s;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
}

.left_side .ui-btn span {
  letter-spacing: .2rem;
  transition: .3s;
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.left_side .ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.left_side .ui-btn span::before {
  animation: none;
}

.left_side .ui-btn:hover span, .ui-btn:focus span {
  color: inherit;
}

.left_side .ui-btn:hover span::before, .ui-btn:focus span::before {
  animation: chitchat linear both 0.6s;
}

.left_side .ui-btn span::before {
  transition: none;
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$]_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{[+.1";
  }

  35% {
    content: "@}-]_?";
  }

  40% {
    content: "?{+4[%";
  }

  45% {
    content: "=1^!-";
  }

  50% {
    content: "?2%{";
  }

  55% {
    content: "\;|1}";
  }

  60% {
    content: "?{_%";
    right: 0;
  }

  65% {
    content: "{f[4";
    right: 0;
  }

  70% {
    content: "{40%";
    right: 0;
  }

  75% {
    content: "'_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}

.left_side .contacts{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  align-self: flex-end;
}

.left_side .contacts div{
  margin-bottom: 10px;
}

.left_side .contacts a{
  color: var(--white);
  text-decoration: none;
}

.left_side .contacts a:hover{
  color: var(--light-green);
}

.left_side .contacts div a:hover span::after {
  width: 100%;
}

.left_side .contacts div:hover i {
  color: var(--lime-yellow);
}

.left_side .contacts div i {
  color: var(--light-green);
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  margin-right: 5px;
  transition-duration: 0.3s;
}

.left_side .contacts div span {
  position: relative;
}

.left_side .contacts div span::after {
  content: "";
  position: absolute;
  background: var(--light-green);
  height: 1px;
  width: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
}

.left_side .socials {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  align-self: flex-end;
} 

.left_side .socials .soc {
  min-width: 40px;
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
}

.left_side .socials .soc .social_icon {
  transition: transform 0.2s ease-in-out;
}

.left_side .socials .soc:hover > .social_icon {
  transform: scale(1.1);
}

.left_side .socials .binary_png_wrapper {
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.left_side .socials .social_icon {
  position: absolute;
  height: inherit;
  width: inherit;
  z-index: 2;
  overflow: hidden;
}

.left_side .socials .binary_png_wrapper img {
  position: absolute;
  height: inherit;
  width: inherit;
  transition: clip-path .15s linear;
  clip-path: inset(0 0 100% 0);
}

.left_side .socials .social_icon a {
  height: inherit;
  width: inherit;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_side .socials .social_icon svg {
  height: inherit;
  width: inherit;
  transition: clip-path .15s linear;
  clip-path: inset(0 0 0 0);
}

.left_side .socials .handle {
  height: 100%;
  position: absolute;
  background-color: var(--light-green);
  width: 3px;
  opacity: 0;
  z-index: 3;
  transition: opacity 0.15s linear, width 0.15s linear, transform 0.15s linear;
  transform: rotate(90deg) translate(-1100%, -47%);
}

.left_side .socials .soc:hover > .handle {
  opacity: 1;
  transform: rotate(90deg) translate(0, -47%);
}

.left_side .socials .soc:hover svg, .social_icon:hover i {
  clip-path: inset(50% 0 0 0);
}

.left_side .socials .soc:hover > .binary_png_wrapper img {
  clip-path: inset(0 0 50% 0);
}

/* 
** Right side of the CV
*/

.right_side .usr_input{
  position: relative;
  width: 100%;
  background-color: var(--dark-gray);
}

.right_side .usr_input .input {
  color: var(--light-green);
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
}

.right_side .usr_input .symbol {
  width: 20px;
  height: 95%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-green);
  pointer-events: none;
}

.right_side .usr_input .input:focus {
  outline: none;
}

.right_side .usr_input .input:focus + .input-border {
  width: 100%;
}

.right_side .cmd_out {
  margin: 15px;
  animation: 2s anim-lineUp ease-out;
}

/* Mobile devices responsivness */
@media only screen and (max-width: 800px) {
  .CV_wrapper {
    margin: 0;
    border: 0;
  }

  .CV {
    display: block;
    margin: 0;
  }

  .CV .left_wrapper {
    border: 0;
    margin: 0;
    padding: 0;
    display: none;
  }

  .CV .profile {
    padding: 0;
    margin: 0;
  }

  .CV .left_side .profile .Contacts {
    display: none;
  }

  .CV .left_side .profile .Socials {
    display: none;
  }
}
