:root{
    --white: #ffffff;
    --black: #000;
    --charcoal-gray: #111111;
    --gray: #292929;
    --highlight-gray: #313131;
    --dark-gray: #1A1A1A;
    --light-gray: #B3B3B3;
    --dark-green: #298716;
    --light-green: #4af626;
    --neon-green: #00FF66;
    --lime-yellow: #D4FF33;
}

p {
  color: var(--light-green);
  font-size: 0.95rem;
  padding: 1.4rem;
}

.right_side .cmd_out .web {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.right_side .cmd_out .web_percentage {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.right_side .cmd_out .web.mobile {
  display: none;
  position: relative;
  overflow: hidden;
}

.right_side .cmd_out .web_percentage {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.right_side .cmd_out .web::before {
  content: '';
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  animation: web_load .6s forwards, web_blink 0.7s .6s infinite;
}

.right_side .cmd_out .web_percentage::before {
  content: '';
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  animation: web_percentage_load .6s forwards;
}

.right_side .cmd_out .web::before {
  content: '';
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  animation: web_load .6s forwards, web_blink 0.7s .6s infinite;
}

.right_side .cmd_out .web_percentage::before {
  content: '';
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  animation: web_percentage_load .6s forwards;
}

/* Large mobile devices responsivness */
@media only screen and (max-width: 907px) {
  .right_side .cmd_out .web.mobile {
    display: inline-block;
  }

  .right_side .cmd_out .web {
    display: none;
    animation: none 0s forwards;
  }
}

/* Mobile devices responsivness */
@media only screen and (max-width: 907px) {
  .right_side .cmd_out .web.mobile {
    display: inline-block;
  }

  .right_side .cmd_out .web {
    display: none;
    animation: none 0s forwards;
  }
}
