@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display:swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
  --darkest-blue: #1a237e;
  --darker-blue: #283593;
  --dark-blue: #303f9f;
  --medium-blue: #3949ab;
  --light-blue: #3f51b5;
  --lighter-blue: #5c6bc0;
  --lightest-blue: #9fa8da;
  --white: #ffffff;
  --black: #000;
  --orange: #ffb300;
  --yellow: #fdd835;
  --dark-pink: #ad1457;
  --light-pink: #d81b60;
  --dark-green: #298716;
  --light-green: #4af626;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono';
}

body {
  background-color: #2d4059;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.CV {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #fff;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 1);
}

.CV .left_side {
  position: relative;
  background-color: #292929;
  padding-top: 30px;
}

.CV .right_side {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #383838;
}

.CV .right_side .cmd_out {
  margin: 15px;
  animation: 2s anim-lineUp ease-out;
}

.CV .right_side .cmd_out .exp_div {
  padding-top: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--light-green);
  font-size: 18px;
}

.CV .right_side .cmd_out .exp_div .prog_bar {
  background-color: #fff;
  width: 85%;
  height: 10px;
  border-radius: 15px;
}

.CV .right_side .cmd_out .exp_div .prog_bar .cpp {
  background-color: lightgreen;
  width: 55%;
  height: 10px;
  border-radius: 15px;
  animation: 1s html ease-out;
  animation-delay: 0.4s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100%{
    width: 55%;
  }
}

.CV .profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.CV .profile_icon {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.CV .profile_icon i {
  margin-top: 10px;
  margin-left: 10px;
}

.CV h2 {
  color: #4af626;
  font-family: 'IBM Plex Mono', monospace;
}

.CV p {
  color: #4af626;
}

.CV pre {
  color: #4af626;
}

/* Button Text setup */
.ui-btn {
  --btn-default-bg: rgb(41, 41, 41);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: .3s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: var(--light-green);
  --default-btn-color: var(--light-green);
  --font-size: 18px;
  --font-weight: 600;
  --font-family: Menlo,Roboto Mono,monospace;
}

/* Button design setup */
.CV .left_side .profile .ui-btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  width: 100%;
  height: 55px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}

.CV .left_side .profile .ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.CV .left_side .profile .ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.CV .left_side .profile .ui-btn:hover, .ui-btn:focus {
  background: var(--btn-hover-bg);
}

.CV .left_side .profile .ui-btn span::before {
  animation: none;
}

.CV .left_side .profile .ui-btn:hover span, .ui-btn:focus span {
  color: inherit;
}

.CV .left_side .profile .ui-btn:hover span::before, .ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

.ui-btn span::before {
  transition: none;
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";
  }

  35% {
    content: "@}-?";
  }

  40% {
    content: "?{4%";
  }

  45% {
    content: "=.^!";
  }

  50% {
    content: "?2%";
  }

  55% {
    content: "\;1}";
  }

  60% {
    content: "?{:%";
    right: 0;
  }

  65% {
    content: "{f[4";
    right: 0;
  }

  70% {
    content: "{40%";
    right: 0;
  }

  75% {
    content: "'_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}

.CV .right_side .usr_input{
  width: 100%;
  background-color: #1b1b1b;
}

.CV .right_side .usr_input .input {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
}

.CV .right_side .usr_input .symbol {
  position: absolute;
  left: 5px;
  top: 1%;
  color: white;
  pointer-events: none;
}

.CV .right_side .usr_input .input:focus {
  outline: none;
}

.CV .right_side .usr_input .input:focus + .input-border {
  width: 100%;
}

/* lineup class and keyframes */
.anim-lineUp{
  animation: 2s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Mobile devices responsivness */
@media only screen and (max-width: 900px) {
    .CV {
      display: block;
      margin: 0;
    }

    .CV .right_side {
      min-height: 100vh;
    }
}
